/* For small screens */
@media only screen and (max-width: 600px) {
  header {
    padding: 30px 10px; /* Adjust padding for smaller screens */
  }
  
  .profile-image {
    width: 150px; /* Adjust size of profile image for smaller screens */
    height: 150px;
  }

  .about-me {
    font-size: 16px; /* Adjust font size for smaller screens */
  }

  .section {
    margin-bottom: 30px; /* Adjust margin for smaller screens */
  }

  .project-thumbnail {
    width: calc(50% - 40px); /* Display projects in 2 columns on smaller screens */
    margin: 0 10px 20px; /* Adjust margin for smaller screens */
  }

  .social-icons a {
    font-size: 20px; /* Adjust font size for social icons on smaller screens */
  }
}

/* For medium screens */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .project-thumbnail {
    width: calc(33.33% - 40px); /* Display projects in 3 columns on medium screens */
  }
}

/* For large screens */
@media only screen and (min-width: 1025px) {
  .project-thumbnail {
    width: calc(25% - 40px); /* Display projects in 4 columns on large screens */
  }
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 50px 20px;
  position: relative;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.profile-image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
}

.profile-image img {
  width: 100%;
  height: auto;
}
.about-me {
  text-align: center;
  margin: 0 auto;
  max-width: 700px;
  font-size: 18px;
}

.content {
  padding: 20px;
  text-align: center;
}

.section {
  margin-bottom: 50px;
}

.section h2 {
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}
.carousel {
  max-width: 600px; 
  margin: 0 auto;
}

.carousel-control-prev,
.carousel-control-next {
    color: black; 
    background-color: transparent;
    border-color: black; 
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    color: black; 
    background-color: rgba(0, 0, 0, 0.1); 
}


.project-thumbnail {
  display: inline-block;
  width: 300px;
  height: 169px;
  margin: 0 20px;
  border: 3px solid #555;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}

.project-thumbnail img {
  width: 100%;
  height: auto;
}

footer {
  background-color: #333;
  color: white;
  padding: 50px 20px;
  text-align: center;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-size: 24px;
}
